spring:
  application:
    name: BizCard

  datasource:
    url: jdbc:postgresql://localhost:5432/bizcard
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

  server:
    port: 8080