spring:
  application:
    name: BizCard

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

app:
  security:
     admin:
      username: ${ADMIN_USER}
      password: ${ADMIN_PASSWORD}

server:
  port: 8080